<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget

 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $type = 'widget-new-grid';

    $mode = 'grid';
	$pos = $block->getPositioned(); 
    $image = 'new_products_content_widget_grid';
    $title = __('');//do not want a title here. Used to say New Products
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = false;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
}
?>

<?php if ($exist):?>
   <?= $block->getPagerHtml() ?>
   <div class="products wrapper <?php /* @escapeNotVerified */ echo $mode; ?> products-<?php /* @escapeNotVerified */ echo $mode; ?> page-main">
			<?php 
				$iterator = 1;   
			?>
			<ul class="products grid row">
				<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php 
				$i=0; 
				$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');
				foreach ($items as $_product): 
				if($_product->getRotaryImage() && ($_product->getRotaryImage() != 'no_selection'))
					$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_product->getRotaryImage();
				else
					$imageRotary = '';
				?> 
				 
					<li class="products list items product-items item product col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<div class="item-inner product-item-info" data-container="product-grid">
							<?php
								$newFromDate = $_product->getNewsFromDate();
								$newToDate = $_product->getNewsToDate();                
								$now = date("Y-m-d H:m:s");
								// Get the Special Price
								$specialprice = $_product->getSpecialPrice(); 
								// Get the Special Price FROM date
								$specialPriceFromDate = $_product->getSpecialFromDate();
								// Get the Special Price TO date
								$specialPriceToDate = $_product->getSpecialToDate();
								// Get Current date
								if ($specialprice&&(($specialPriceFromDate <= $now && $specialPriceToDate >= $now) || (($specialPriceFromDate <= $now && $specialPriceFromDate != NULL) && $specialPriceToDate  == ''))){
								$_savePercent = 100 - round(($_product->getSpecialPrice() / $_product->getPrice())*100);
								echo "<span class='hot-sale'><span>on sale</span></span>";
								}
								if((($newFromDate <= $now && $newToDate >= $now) || (($newFromDate <= $now && $newFromDate != NULL) && $newToDate == NULL))) {
								?>
								<div class="label-pro-new"><span><?php echo __('new') ?></span></div>
								<?php
		            $class=preg_replace("/[^A-Za-z0-9]/", "", $_product->getResource()->getAttribute('misc_status')->getFrontend()->getValue($_product));
 		            echo "<div class='".$class."' style='text-indent:-9999px;'>";
		            echo /* @escapeNotVerified */ $_product->getResource()->getAttribute('misc_status')->getFrontend()->getValue($_product);
		            echo "</div>";
								}
								
							?>
							<div class="image-container">
								<?php
								$productImage = $block->getImage($_product, $image);
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<?php // Product Image ?>
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
									<?php echo $productImage->toHtml(); ?>
									<?php if($imageRotary): ?>
										<span class="image-rotate">
											<img src="<?php echo $imageRotary; ?>" alt="rotato image"/>
										</span>
									<?php else: ?>
										<span class="image-rotate">
											<?php echo $productImage->toHtml() ?>
										</span>
									<?php endif; ?>
								</a>
								
								<div class="quick-view"></div>
							</div> 
							
							<div class="des product details product-item-details">
								<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
								<div class="product-name">
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<strong class="product-item-name">
										<a class="product-item-link"
										   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $block->escapeHtml($_product->getName()) ?>
										</a>
									</strong>
									
								</div>
								
								<?php echo $block->getProductDetailsHtml($_product); ?>
								<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
								
								<div class="actions">
									<div class="actions-primary"<?php echo strpos($pos, $mode . '-primary') ? $position : ''; ?>>
										<?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_product->isSaleable()): ?>
                                                    <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_product)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary" data-post='<?= /* @noEscape */ $postData ?>' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
									</div>
									<div data-role="add-to-links" class="add-to-links" <?php echo strpos($pos, $mode . '-secondary') ? $position : ''; ?>>
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
											<a href="#"
											   class="action towishlist"
											   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
											   data-action="add-to-wishlist"
											   role="button">
												<span><?php /* @escapeNotVerified */ echo __('WishList') ?></span>
											</a>
										<?php endif; ?>
									</div>
								</div>
								<!-- Price Countdown Box -->
								<?php if($block->getEnabledCountdown()): ?>
									<?php if($block->setEnabledCountdownInList()): ?>
										<?php if($_product->getSpecialPrice() != null || $_product->getSpecialPrice() != 0 || $_product->getSpecialPrice() != ""): ?>
											<?php
												$product = $productModel->load($_product->getId());
											?>
											<?php if($product->getShowCountdown() == 1): ?>
												<div class="countbox-<?php echo $_product->getId(); ?> countdown-container">
													<div class='datetime'>
														<span class='day'><?php echo __('D') ?></span>
														<span class='hour'><?php echo __('H') ?></span>
														<span class='min'><?php echo __('M') ?></span>
														<span class='sec'><?php echo __('S') ?></span>
													</div>
												</div>

												<?php
													$toDate = $_product->getSpecialToDate();
													$fromDate = $_product->getSpecialFromDate();
													$_current_timer = time();
												?>

												<script type="text/javascript">
													var dthen<?php echo $_product->getId(); ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
													var start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
													var start_date = Date.parse(start);
													var dnow<?php echo $_product->getId(); ?> = new Date(start_date);

													var ddiff;
													if(CountStepper > 0) {
														ddiff= new Date((dnow<?php echo $_product->getId(); ?>)-(dthen<?php echo $_product->getId(); ?>));
													} else {
														ddiff = new Date((dthen<?php echo $_product->getId(); ?>)-(dnow<?php echo $_product->getId(); ?>));
													}

													<?php if(strtotime($fromDate) <= $_current_timer): ?>
														gsecs<?php echo $_product->getId(); ?> = Math.floor(ddiff.valueOf()/1000);
													<?php else: ?>
														gsecs<?php echo $_product->getId(); ?> = -1;
													<?php endif; ?>

													var iid<?php echo $_product->getId(); ?> = "countbox-<?php echo $_product->getId(); ?>";
													CountBack_slider(gsecs<?php echo $_product->getId(); ?>,"countbox-<?php echo $_product->getId(); ?>", <?php echo $_product->getId(); ?>);

													require(["jquery"], function($){
														$(document).ajaxComplete(function () {
															var dthen<?php echo $_product->getId(); ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
															var start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
															var start_date = Date.parse(start);
															var dnow<?php echo $_product->getId(); ?> = new Date(start_date);

															var ddiff;
															if(CountStepper > 0) {
																ddiff= new Date((dnow<?php echo $_product->getId(); ?>)-(dthen<?php echo $_product->getId(); ?>));
															} else {
																ddiff = new Date((dthen<?php echo $_product->getId(); ?>)-(dnow<?php echo $_product->getId(); ?>));
															}

															<?php if(strtotime($fromDate) <= $_current_timer): ?>
															gsecs<?php echo $_product->getId(); ?> = Math.floor(ddiff.valueOf()/1000);
															<?php else: ?>
															gsecs<?php echo $_product->getId(); ?> = -1;
															<?php endif; ?>

															var iid<?php echo $_product->getId(); ?> = "countbox-<?php echo $_product->getId(); ?>";
															CountBack_slider(gsecs<?php echo $_product->getId(); ?>,"countbox-<?php echo $_product->getId(); ?>", <?php echo $_product->getId(); ?>);
														});
													});
												</script>
											<?php endif; ?>
										<?php endif; ?>
									<?php endif; ?>
								<?php endif; ?>


							</div>
						</div>
					</li>  
				<?php endforeach; ?>
			</ul> 
		</div>
        <div class="toolbar-bottom">
               <?= $block->getPagerHtml() ?>
		</div> 
<?php endif;?>
