<div class="footer-container">
	
	<div class="footer-top">
		<div class="container">
			
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_static_skybook')->toHtml();?>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="container-inner">
				<?php echo $this->getChildHtml('footer_payment')?>
				<?php echo $this->getChildHtml('footer.copyright')?>
				
			</div>
			<div id="back_top">
				<a href="#back-top"><span><?php /* @escapeNotVerified */ echo __('top'); ?></span></a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
			
	require(["jquery"], function($){

	   $(window).scroll(function() {
			if($(this).scrollTop() > 300) {
				$('#back_top').fadeIn();   
			} else {
				$('#back_top').fadeOut();
			}
		});
		   $('#back_top').click(function() {
			$('body,html').animate({scrollTop:0},500);
		});
		

    $('#grouped_product').change(function(){ 
        var selected_product=$("#grouped_product").val();
		if (selected_product > 0){
		         var description=document.getElementById("desc_"+selected_product).value;
		         var imgsrc=document.getElementById("imgsrc_"+selected_product).value;
		         var urlsrc=document.getElementById("urlsrc_"+selected_product).value;
		         location.replace(urlsrc);
		         //$('#grouped_description').html("<h3>Description</h3>"+description);
		         //$('[aria-hidden="false"]').attr("src",imgsrc);
		}
    });



	});
	

</script>			