<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMLGVD3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<?php $block->renderFileLessToCss(); ?>
<div id="lucian_header123" class="header-container">
    <div class="top-link">
        <div class="container">
            <div class="container-inner">
                <div class="before-header">
                    <?= $this->getLayout()
                        ->createBlock('Magento\Cms\Block\Block')
                        ->setBlockId('before-header')
                        ->toHtml();
                    ?>
                </div>
                <div class="box-setting  hidden-sm hidden-xs">
                    <?php echo $this->getChildHtml("store_switcher"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("currency"); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner">
        <div class="container">
            <div class="container-inner">
                <div class="box-responsive">
                    <div class="open-menu hidden-lg hidden-md" title="<?php /* @escapeNotVerified */ echo __('Open Menu'); ?>"><span><?php /* @escapeNotVerified */ echo __('menu'); ?></span></div>
                    <div class="box-menu-content">
                        <div class="container-fluid">
                            <div class="container-inner">
                                <div class="row">
                                    <div class="col-logo col-md-2 col-sm-12 col-xs-12">
                                        <div class="logo-home">
                                            <?php echo $this->getChildHtml("logo"); ?>
                                        </div>
                                    </div>
                                    <div class="col-content col-md-10 col-sm-12 col-xs-12">
                                        <ul class = "tabs-mobile hidden-lg hidden-md">
                                            <li class="item item-menu"><?php /* @escapeNotVerified */ echo __('Menu'); ?></li>
                                            <li class="item item-account"><?php /* @escapeNotVerified */ echo __('Account'); ?></li>
                                            <li class="item item-setting"><?php /* @escapeNotVerified */ echo __('Setting'); ?></li>
                                        </ul>
                                        <div class="tabs-content-mobile tabs-menu hidden-lg hidden-md">
                                            <?php echo $this->getChildHtml("mobilemenu"); ?>
                                        </div>
                                        <div class="tabs-content-mobile tabs-account hidden-lg hidden-md" style="display:none;">
                                            <?php echo $this->getChildHtml("header.links"); ?>
                                        </div>
                                        <div class="tabs-content-mobile tabs-setting hidden-lg hidden-md" style="display:none;">
                                            <?php echo $this->getChildHtml("currency_mobile"); ?>
                                            <?php echo $this->getChildHtml("store_language_mobile"); ?>
                                            <?php echo $this->getChildHtml("store_switcher_mobile"); ?>
                                        </div>
                                    </div>
                                    <div class="close-menu"><span><?php /* @escapeNotVerified */ echo __('close'); ?></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="logo-home">
                        <?php echo $this->getChildHtml("logo"); ?>
                    </div>
                    <div class="top-search">
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <div class="search-cart">
                        <?php echo $this->getChildHtml("minicart");?>
                    </div>
                    <div class="box-links ">
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                </div>
                <? if (strlen($this->getBlockId('after-header')) >= 0) : ?>
                    <div class="after-header">
                        <?= $this->getLayout()
                            ->createBlock('Magento\Cms\Block\Block')
                            ->setBlockId('after-header')
                            ->toHtml();
                        ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="top-menu hidden-sm hidden-xs">
        <div class="container">
            <div class="container-inner">
                <?php echo $this->getChildHtml("hozmegamenu_top"); ?>
            </div>
        </div>
    </div>
    <?php echo $this->getChildHtml("breadcrumbs");?>
    <?php echo $this->getChildHtml("page.main.title");?>
    <?php echo $this->getChildHtml("slider_group"); ?>
</div>


<script type="text/javascript">
    require(["jquery"], function($){

        $(window).scroll(function () {
            if ($(this).scrollTop() > 250) {
                $('.header-container .top-menu').addClass("fix-header");

            } else {
                $('.header-container .top-menu').removeClass("fix-header");

            }

        });
    });
</script>
<script type="text/javascript">
    require(["jquery"], function($){
        $(document).ready(function(){
            $(".open-menu").click(function(){
                $(".box-menu-content").addClass('active');
            });
            $(".close-menu").click(function(){
                $(".box-menu-content").removeClass('active');
            });


            <!-- choose tabs-->
            $(".tabs-mobile .item-menu").addClass("active");
            $(".tabs-mobile .item").click(function(){
                $(".tabs-mobile .item").removeClass("active");
                $(this).addClass("active");
            });
            $(".tabs-mobile .item-menu").click(function(){
                $(".tabs-content-mobile").css("display","none");
                $(".tabs-menu").css("display","block");
            });
            $(".tabs-mobile .item-account").click(function(){
                $(".tabs-content-mobile").css("display","none");
                $(".tabs-account").css("display","block");
            });
            $(".tabs-mobile .item-setting").click(function(){
                $(".tabs-content-mobile").css("display","none");
                $(".tabs-setting").css("display","block");
            });
        });

        elementClick = '.toogle_click';
        elementSlide =  '.toogle_content';
        activeClass = 'active';

        $(elementClick).on('click', function(e){
            e.stopPropagation();
            var subUl = $(this).next(elementSlide);
            if(subUl.is(':hidden'))
            {
                subUl.slideDown();
                $(this).addClass(activeClass);
            }
            else
            {
                subUl.slideUp();
                $(this).removeClass(activeClass);
            }
            $(elementClick).not(this).next(elementSlide).slideUp();
            $(elementClick).not(this).removeClass(activeClass);
            e.preventDefault();
        });

        $(document).on('click', function(e){
            e.stopPropagation();
            var elementHide = $(elementClick).next(elementSlide);
            $(elementHide).slideUp();
            $(elementClick).removeClass(activeClass);
        });
    });
</script>