<?php
/**
 * Copyright © 2015 CommerceExtensions. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="import-export-customerreviews">
    <?php if (!$block->getIsReadonly()): ?>
    <div class="import-customerreviews">
        <?php if ($block->getUseContainer()): ?>
        <form id="import-form" action="<?php echo $block->getUrl('customerreviews/data/importPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Import Customer Reviews') ?></span></legend>
				<label class="label admin__field-label" for="import_delimiter"><span>Import CSV Delimiter Value</span></label>
				<div class="control">
					<input id="basic_behavior_import_delimiter" name="import_delimiter" value="," title="Import Delimiter" class="basic_behavior input-text admin__control-text" type="text" size="1">
				</div>
				<label class="label admin__field-label" for="import_enclose"><span>Import CSV Enclose Value</span></label>
				<div class="control">
					<input id="basic_behavior_import_enclose" name="import_enclose" value='"' title="Import Enclose" class="basic_behavior input-text admin__control-text" type="text" size="1">
				</div>
            	<div class="admin__field-control control">
                	<input type="file" name="import_rates_file" class="input-file required-entry"/>
				</div>
            	<div class="admin__field-control control">
                <?php echo $block->getButtonHtml('Import Customer Reviews', '', 'import-submit') ?>
				</div>
            </fieldset>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
        <script>
require(['jquery', "mage/mage", "loadingPopup"], function(jQuery){

    jQuery('#import-form').mage('form').mage('validation');
    (function ($) {
        $('.import-submit').click(function(){
            if($(':input[name="import_rates_file"]').val()) {
                $('body').loadingPopup({
                    timeout: false
                });

                $(this.form).submit();
            }
        });
    })(jQuery);

});
</script>
    </div>
    <?php endif; ?>
    <div class="export-customerreviews <?php if ($block->getIsReadonly()): ?>box-left<?php else: ?>box-right<?php endif; ?>">
        <?php if ($block->getUseContainer()): ?>
        <form id="export_form" action="<?php echo $block->getUrl('customerreviews/data/exportPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Export Customer Reviews') ?></span></legend>
				<div class="admin__field field field-customerreviews">
                    <label class="label admin__field-label" for="export_delimiter"><span>Export CSV Delimiter Value</span></label>
					<div class="control">
						<input id="basic_behavior_export_delimiter" name="export_delimiter" value="," title="Export Delimiter" class="basic_behavior input-text admin__control-text" type="text" size="1">
					</div>
                    <label class="label admin__field-label" for="export_delimiter"><span>Export CSV Enclose Value</span></label>
					<div class="control">
						<input id="basic_behavior_export_enclose" name="export_enclose" value='"' title="Export Enaclose" class="basic_behavior input-text admin__control-text" type="text" size="1">
					</div>
                    <label class="label admin__field-label" for="customers_by_email"><span>Export Customer Reviews with Email</span></label>
            		<div class="admin__field-control control">
               			<select id="customers_by_email" name="customers_by_email" title="Export Customer Reviews with Email" class="select admin__control-select">
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
                    </div>
                    <label class="label admin__field-label" for="reviews_by_sku"><span>Export Customer Reviews with SKU</span></label>
            		<div class="admin__field-control control">
               			<select id="reviews_by_sku" name="reviews_by_sku" title="Export Customer Reviews with SKU" class="select admin__control-select">
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
                    </div>
            		<div class="admin__field-control control">
                	<?php echo $block->getButtonHtml('Export Customer Reviews', "this.form.submit()") ?>
                     </div>
                </div>
            </fieldset>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
    </div>
</div>
