h2#block-upsell-heading {
    font-size:20px;
}

.block.upsell .group-title1 {
    margin-top:15px;
    margin-bottom:10px;
}

#upsell_product_slider > div.owl-wrapper-outer > div > div > div > div > div.image-container > a > span.product-image-container > span > img {
    transform: scale(1.5);
}


.product.info.detailed{
    padding-top: 15px;
    margin-bottom: 0;
}

#tab-label-reviews-title > span:before {
    display : inline;
    text-align : left;
    font-size : 1em;
    margin : 1px auto;
    color: #000;
    content: "(";
 }

#tab-label-reviews-title > span:after {
    display : inline;
    text-align : right;
    font-size : 1em;
    margin : 1px auto;
    color: #000;
    content: ")";
 }
.product-item-name {
    hyphens: inherit;
    overflow-wrap: normal;
}

.header-container .header-inner {
    background: #07273f url(none);
}

#tab_new_product div.owl-wrapper-out span.product-image-container  span  img{
    width:100px!important;
    height:100px!important
}



.product.attibute.subtitle {
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom:10px;
} 

#maincontent > div.columns > div.column.main > div.product-info-main > div.product.attibute.headline{
    text-transform: capitalize;
    font-size: 18px;
    margin-top:40px;
}

.product-info-main .product-info-stock-sku {
    text-align:right;
}


#lucian_header123 > div.header-inner > div > div > div.box-responsive > div.search-cart > div.minicart-wrapper > a > span.text {
      color: #ffff;
 }
 
.header-container .search-cart .links div a:before {
      color: #ffff;
 }
 
 .header-container .search-cart .links div a {
      color: #ffff;
 }
 
 
.addthis_inline_share_toolbox {
 clear:none !important;
 
 }
 
a.at-icon-wrapper {
 line-height:50px !important;
 height:50px !important;
 width:50px !important;
 }

.header-container .top-search .block-search {width:100%}

.pt_custommenu div.pt_menu .parentMenu a {font-size:13px;}