@general_link_hover_color:#40C0F9;
@general_price_color:#C29009;
@general_new_label_color:#C29009;
@header_bg_color:#FFFFFF;
@header_toplink_bg_color:#002841;
@header_topmenu_bg_color:#FFFFFF;
@footer_top_bg_color:#002841;
@footer_top_link_color:#FFFFFF;
@footer_bottom_bg_color:#002841;