<style>
    .s_description{
        width:100%;
        height:auto;
        text-align: justify;
    }
    .s_description img{
        max-width:100%;
    }
    .short_des{
        clear: both;
    }
    .box1{
        -o-text-overflow: ellipsis;   /* Opera */
        text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
        overflow:hidden;              /* don't show excess chars */
        white-space:nowrap;           /* force single line */
        width: 100%;
    }
</style>
<?php
$brand = $this->getBrand();

if($brand):?>
<?php
    if($brand->getId()):
        ?>
        <div class="short_des">
            <a href="<?php echo $this->getUrl($brand->getUrlKey());?>">
                <?php
                if($brand->getLogo())
                {
                    $img = $this->getObjectManager()->get('Magestore\Shopbybrand\Helper\Image')
                        ->getMediaUrlImage($brand->getLogo());
                    ?>
                    <img style="width: 13%;" src="<?php echo $img;?>" title="<?php echo $brand->getBrandName();?>"/>
                    <?php
                }
                ?>
                <div class="box1 authorname">
                    <?php echo "by: " . $brand->getTitle();?>
                </div>
            </a>
        </div>
    <?php endif; ?>
<?php endif; ?>
