<?php
/**
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magestore\Shopbybrand\Block\Sidebar $block */

$display = $block->getDisplaySidebar();
$max = $block->getMaximumSidebar();
$displayModule = $block->getDisplayModule();
?>

<?php if($display==1 && $displayModule): ?>

    <?php
    $shopbybrands = $block->getBrandsData();
    $brandSize = count($shopbybrands);
    if($brandSize):
        ?>

        <div class="block shopbybrand_sidebar">
            <div class="shopbybrand-title">
                <h1><?php echo __('Brands') ?></h1>
            </div>
            <div class="brand-content">
                <ul>
                    <?php
                    $show = $block->getOptionDisplay();
                    $setlink = $block->getSystemConfig()->getFrontendUrlPath();
                    $file = $block->getViewFileUrl('Magestore_Shopbybrand::images/shopbybrand/no-image.png');;
                    if ($brandSize && $show == 1 ) {
                        if ($display) {
                            $i = 0;

                            foreach ($shopbybrands as $brand) { ?>
                                <li class='brands-item <?php if($i == 0):?> first <?php elseif($i == $max):?> last<?php endif; ?>'><a href="<?php echo $block->getBrandUrl($brand['url_key']); ?>">
                                        <span class='brand-name'><?php echo $brand['page_title']; ?></span></a>
                                </li>
                                <?php
                                $i++;
                                if ($i == $max)
                                    break;
                            }
                        }
                    }
                    if ($brandSize && $show == 0 ) {
                        if ($display) {
                            $i = 0;
                            foreach ($shopbybrands as $brand) {
                                $url = $block->getImageHelper()->getMediaUrlImage($brand['logo']);
                                if ($brand['logo'] != null) { ?>
                                    <li class='brands-item'><a href="<?php echo $block->getBrandUrl($brand['url_key']); ?>">
                                            <img width='70' height='50'  src="<?php echo $url; ?>" class='brands-item-list-image'>
                                        <span class='brand-name'><?php echo $brand['brand_name']; ?><span>
                                        </a></li>
                                <?php } else { ?>
                                    <li class='brands-item'><a href="<?php echo $block->getBrandUrl($brand['url_key']); ?>">
                                            <img width='70' height='50'  src="<?php echo $file; ?>" class='brands-item-list-image'>
                                            <span class='brand-name'><?php echo $brand['brand_name']; ?></span>
                                        </a></li>
                                    <?php
                                }
                                $i++;
                                if ($i == $max)
                                    break;
                            }
                        }
                    }
                    if ($brandSize && $show == 2 ) {
                        if ($display) {
                            $i = 0;
                            foreach ($shopbybrands as $brand) {
                                $url = $block->getImageHelper()->getMediaUrlImage($brand['logo']);
                                if ($brand['logo'] != null) { ?>
                                    <li class='brands-item'><a href="<?php echo $block->getBrandUrl($brand['url_key']); ?>">
                                            <img width='70' height='50'  src="<?php echo $url; ?>" class='brands-item-list-image'></a></li>
                                <?php } else { ?>
                                    <li class='brands-item'><a href="<?php echo $block->getBrandUrl($brand['url_key']); ?>">
                                            <img width='90' height='70'  src="<?php echo $file; ?>" class='brands-item-list-image'></a></li>
                                    <?php

                                }
                                $i++;
                                if ($i == $max)
                                    break;
                            }
                        }
                    }
                    ?>
                </ul>
                <div class="bestsllerbrand-allview">

                    <a href="<?php echo $block->getUrl($setlink, array()) ?>">
                        <button type="button" class="button btn-cart">
                    <span>
                        <span><?php echo __('View all') ?></span>
                    </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    <?php endif;?>
<?php endif;?>
