<?php
/**
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magestore\Shopbybrand\Block\View $block */

$brand = $block->getBrand();
$displayLogo = $block->displayLogo();
?>
<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('Magestore_Shopbybrand::css/shopbybrand/templates/default/default.css'); ?>" media="all" />
<?php if($block->isDisplayBanner()): ?>
    <?php if (!$block->getBrandBannerUrl()){} else { ?>
        <div class="brand-banner">
            <a href="<?php if (!$block->getBannerLink()) echo '#'; else echo $block->getBannerLink();?>">
                <?php echo $block->getBrandBannerUrl();?>
            </a>
        </div>
    <?php }?>
<?php endif;?>
<?php if($block->getBrandLogoUrl() != null || $brand->getDescription() != null): ?>
    <div class="brand-description">
        <?php if($displayLogo): ?>
            <div class="blogo"><?php echo $block->getBrandLogoUrl(); ?></div>
        <?php endif; ?>
        <div class="des" <?php if(!$displayLogo) echo 'style="width:100%;"'; ?> >
            <?php
                echo  $brand->getDescription();
            ?>
        </div>
    </div>
<?php endif; ?>
<?php if ($block->canShowBrandByCategories()): ?>
    <?php $cats = $block->getParentCategories();
    if(count($cats['parent'])|| count($cats['children'])):?>
        <div class="brand-category">
            <div class="shopbybrand-title category-title">
                <h1><?php echo __('Brand categories'); ?></h1>
            </div>
            <div class="brand-category-content">
                <ul>
                    <?php 	$cats = $block->getParentCategories(); $categories = $cats['parent'];
                    $count=count($categories);
                    $div = intval($count/3);
                    if($count%3==2) $div++ ;
                    if($count%3==1) $div_more=$div+1;
                    $j=0;
                    $column=1;
                    ?>
                    <?php $i=0; foreach ($categories as $category) {
                        if(isset($cats['children'][$category->getId()]))
                            $childs = $cats['children'][$category->getId()];
                        else $childs = array();
                        $i++;
                        $j++;
                        ?>
                        <?php if($j==1): ?>
                            <ol class="<?php if($column==3): ?>last
					<?php endif; ?>  col-md-4 col-sm-6 col-xs-12"><?php endif;?>
                        <li id="cat-<?php echo $i; ?>">
                            <?php if(count($childs)>1) : ?>
                                <a class="show-child" onclick="showChild(this)">&nbsp;</a>
                            <?php endif;?>
                            <a href="<?php echo $block->getBaseUrl().$brand->getUrlKey().'?cat='.$category->getId(); ?>">
                                <?php echo $category->getName(); ?>
                            </a>
                            <?php if(count($childs)>1) : ?>
                                <ul class="brand-child" style="display:none;">
                                    <?php
                                    foreach($childs as $child):
                                        if($child->getId() != $category->getId()):
                                            ?>
                                            <li class="child-cat">
                                                <a href="<?php echo $block->getBaseUrl().$brand->getUrlKey().'?cat='.$child->getId(); ?>" onclick="">
                                                    <?php echo $child->getName(); ?>
                                                </a>
                                            </li>
                                        <?php endif;endforeach;?>
                                </ul>
                            <?php endif;?>
                        </li>
                        <?php if($count%3==1):if($column==1):if($j==$div_more):?></ol><?php $j=0;$column++;endif;endif;endif;?>
                        <?php if($count%3==1):if($column!=1):if($j==$div&&$div>0): ?></ol><?php $j=0;$column++; endif;endif;endif;?>
                        <?php if($count%3==2||$count%3==0):if($j==$div):?></ol><?php $j=0;$column++;endif;endif;?>
                        <?php if($count%3==2): if($column==3):if($j==$div-1&&$div>1): ?></ol><?php endif; endif;endif;?>
                    <?php } ?>
                </ul>
                <script>
                    function showChild(el){
                        require(['prototype'], function () {
                            var showChild = el.next('ul');

                            if(el.hasClassName('child_active')){
                                el.removeClassName('child_active');
                                showChild.hide();
                            }
                            else{
                                el.addClassName('child_active');
                                showChild.show();
                            }
                        });
                    }
                </script>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>
<?php echo $block->getChildHtml('brand.feature.products');?>
<div class="clearfix"></div>