	<?php 
		$enable = $block->getConfig('enabled');
		if($enable < 1) return ; 
		$items = $block->getConfig('items');
		$itemsDefault = $block->getConfig('itemsDefault');
		$itemsDesktop = $block->getConfig('itemsDesktop');
		$itemsDesktopSmall = $block->getConfig('itemsDesktopSmall');
		$itemsTablet = $block->getConfig('itemsTablet');
		$itemsMobile = $block->getConfig('itemsMobile');
		$title = $block->getConfig('title');
		$speed = $block->getConfig('speed');
		$qty = $block->getConfig('qty');
		$showCart = $block->getConfig('addtocart');
		$showWishlist = $block->getConfig('wishlist');
		$showCompare = $block->getConfig('compare');
		$show_navigation = $block->getConfig('navigation');
		$show_pagination = $block->getConfig('pagination'); 
		$auto = $block->getConfig('auto');
		$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
		$image = 'new_products_content_widget_grid';
		$type = 'widget-new-grid';
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		$rows = $block->getConfig('row');
	?>
<div class="producttabs module-product3 module-sidebar">
	
		
			<div class="container">
				
				<ul class="tabs-title">
					<?php 
					$tabproducts_contents = $block->getTabContent() ; 
					$count=0;			
					foreach($tabproducts_contents as $tab) {
						?>
					<li rel="tab_<?php echo $tab['id'];?>"  class="<?php if ($count==0) echo 'first'; ?> item-tabs" > <?php echo $tab['name'];?></li>
						<?php
						$count ++; 
					}
					?>
				</ul>
			
			
				<div class="tabproducts_container"> 
				   <?php 
					foreach($tabproducts_contents as $tab) {
					?>
					 <div id="tab_<?php echo $tab['id'];?>" class="tabproducts_content"> 
						<div class="owl-container">	
							<div  class="productTabContent owl-carousel">
										<?php 
											$i=0;
											$productItems =  $tab['productInfo'];
											$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');	
											foreach($productItems as $_item) { 
												$productImage = $block->getImage($_item, $image);
												if($_item->getRotaryImage() && ($_item->getRotaryImage() != 'no_selection'))
													$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_item->getRotaryImage();
												else
													$imageRotary = '';
											?>
												<?php if($i++%$rows==0) { ?> 
												<div class="item product">
												 <?php } ?>
													<div class="item-inner">
														
														<div class="image-container">
															<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
																<?php echo $productImage->toHtml() ?>
																<?php if($imageRotary): ?>
																	<span class="image-rotate">
																		<img src="<?php echo $imageRotary; ?>" alt="rotate image"/>
																	</span>
																<?php else: ?>
																	<span class="image-rotate">
																		<?php echo $productImage->toHtml() ?>
																	</span>
																<?php endif; ?>
															</a>
															<div class="quick-view">
															</div>
															
														</div>
														<div class="des">
															<?php if ($templateType): ?>
																<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>
															<?php endif; ?>
															<div class="product-name">
																<strong class="product-item-name">
																	<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
																	   href="<?php echo $block->getProductUrl($_item) ?>"
																	   class="product-item-link">
																		<?php echo $block->escapeHtml($_item->getName()) ?>
																	</a>
																</strong>
																
															</div>
															<?php
																echo $block->getProductPrice($_item);
															 ?>
															
															 <div class="actions">
																<?php if ($showCart): ?>
																	<div class="actions-primary">
																		<?php if ($_item->isSaleable()): ?>
																			<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
																				<button class="action tocart primary"
																						data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_item) ?>"}}'
																						type="button" title="<?php echo __('Add to Cart') ?>">
																					<span><?php echo __('Add to Cart') ?></span>
																				</button>
																			<?php else: ?>
																				<?php
																					$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
																					$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
																				?>
																				<button class="action tocart primary"
																						data-post='<?php echo $postData; ?>'
																						type="button" title="<?php echo __('Add to Cart') ?>">
																					<span><?php echo __('Add to Cart') ?></span>
																				</button>
																			<?php endif; ?>
																		<?php else: ?>
																			<?php if ($_item->getIsSalable()): ?>
																				<div class="stock available"><span><?php echo __('In stock') ?></span></div>
																			<?php else: ?>
																				<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
																			<?php endif; ?>
																		<?php endif; ?>
																	</div>
																<?php endif; ?>
																<?php if ($showWishlist || $showCompare): ?>
																	<div class="actions-secondary add-to-links" data-role="add-to-links">
																		<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
																			<a href="#"
																			   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
																			   class="action towishlist" data-action="add-to-wishlist"
																			   title="<?php echo __('Add to Wishlist') ?>">
																				<span><?php echo __('Add to Wishlist') ?></span>
																			</a>
																		<?php endif; ?>
																		<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
																			<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
																			<a href="#" class="action tocompare"
																			   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
																			   title="<?php echo __('Add to Compare') ?>">
																				<span><?php echo __('Add to Compare') ?></span>
																			</a>
																		<?php endif; ?>
																	</div>
																<?php endif; ?>
															</div>
																	
														</div>
													</div>
													<?php if($i%$rows==0 || $i == count($productItems)) { ?> 
												</div>
												  <?php }?>
											<?php 
											}
											?>
								
						
						 

							</div>
						</div>
					 </div>
					
					<?php 
					} 
					?>
				</div>
			
		
	</div>
</div>
	
<script type="text/javascript">
require([
    'jquery',
    'domReady!',
    'owlcarousel/minjs'
 ], function($,owlCarousel){

	$(".tabproducts_content").hide();
	$(".tabproducts_content:first").show(); 
	$("ul.tabs-title li").removeClass("active");
	$("ul.tabs-title li.first").addClass("active");
	$("ul.tabs-title li").click(function() {
		$("ul.tabs-title li").removeClass("active");
		$(this).addClass("active");
		$(".tabproducts_content").hide();
		$(".tabproducts_content").removeClass("animate1");
		var activeTab = $(this).attr("rel"); 
		$("#"+activeTab) .addClass("animate1");
		$("#"+activeTab).fadeIn(); 
	});
	
	$(".tabproducts_content .productTabContent").owlCarousel({
			autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
			slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
			navigation : <?php if($show_navigation) echo 'true'; else echo 'false'; ?>,
			stopOnHover : true,
			pagination : <?php if($show_pagination) echo 'true'; else echo 'false'; ?>,
			items : <?php if($itemsDefault) echo $itemsDefault; else echo '4'; ?>,
			itemsDesktop : [1199,<?php if($itemsDesktop) echo $itemsDesktop; else echo '4'; ?>],
			itemsDesktopSmall : [991,<?php if($itemsDesktopSmall) echo $itemsDesktopSmall; else echo '3'; ?>],
			itemsTablet: [767,<?php if($itemsTablet) echo $itemsTablet; else echo '2'; ?>],
			itemsMobile : [479,<?php if($itemsMobile) echo $itemsMobile; else echo '1'; ?>],
			addClassActive : true,
			scrollPerPage:false,
			afterAction: function(){
				$("#tab_sale_product .owl-wrapper .owl-item").removeClass('first');
				$("#tab_sale_product .owl-wrapper .owl-item").removeClass('last');
				$("#tab_sale_product .owl-wrapper .owl-item").removeClass('before-active');
				$("#tab_sale_product .owl-wrapper .owl-item.active:first").addClass('first');
				$("#tab_sale_product .owl-wrapper .owl-item.active:last").addClass('last');
				$('#tab_sale_product .owl-wrapper .owl-item.active:first').prev().addClass('before-active');
				
				$("#tab_feature_product .owl-wrapper .owl-item").removeClass('first');
				$("#tab_feature_product .owl-wrapper .owl-item").removeClass('last');
				$("#tab_feature_product .owl-wrapper .owl-item").removeClass('before-active');
				$("#tab_feature_product .owl-wrapper .owl-item.active:first").addClass('first');
				$("#tab_feature_product .owl-wrapper .owl-item.active:last").addClass('last');
				$('#tab_feature_product .owl-wrapper .owl-item.active:first').prev().addClass('before-active');
				
				$("#tab_most_product .owl-wrapper .owl-item").removeClass('first');
				$("#tab_most_product .owl-wrapper .owl-item").removeClass('last');
				$("#tab_most_product .owl-wrapper .owl-item").removeClass('before-active');
				$("#tab_most_product .owl-wrapper .owl-item.active:first").addClass('first');
				$("#tab_most_product .owl-wrapper .owl-item.active:last").addClass('last');
				$('#tab_most_product .owl-wrapper .owl-item.active:first').prev().addClass('before-active');
				
				$("#tab_random_product .owl-wrapper .owl-item").removeClass('first');
				$("#tab_random_product .owl-wrapper .owl-item").removeClass('last');
				$("#tab_random_product .owl-wrapper .owl-item").removeClass('before-active');
				$("#tab_random_product .owl-wrapper .owl-item.active:first").addClass('first');
				$("#tab_random_product .owl-wrapper .owl-item.active:last").addClass('last');
				$('#tab_random_product .owl-wrapper .owl-item.active:first').prev().addClass('before-active');
				
				$("#tab_new_product .owl-wrapper .owl-item").removeClass('first');
				$("#tab_new_product .owl-wrapper .owl-item").removeClass('last');
				$("#tab_new_product .owl-wrapper .owl-item").removeClass('before-active');
				$("#tab_new_product .owl-wrapper .owl-item.active:first").addClass('first');
				$("#tab_new_product .owl-wrapper .owl-item.active:last").addClass('last');
				$('#tab_new_product .owl-wrapper .owl-item.active:first').prev().addClass('before-active');
			}
	});
	

});
 

</script> 


