<?php
/**
 * Copyright © 2015 PlazaThemes.com. All rights reserved.

 * @author PlazaThemes Team <contact@plazathemes.com>
 */
?>
<?php
/**
 * Blog sidebar recent posts template
 *
 * @var $block \Plazathemes\Blog\Block\Sidebar\Recent
 */
?>

<?php
	$enable = $this->getConfig('enable_frontend');
	$auto = $this->getConfig('auto');
	$speed = $this->getConfig('speed');
	$default = $this->getConfig('default');
	$desktop = $this->getConfig('desktop');
	$desktop_small = $this->getConfig('desktop_small');
	$tablet = $this->getConfig('tablet');
	$mobile = $this->getConfig('mobile');
	$pagination = $this->getConfig('pagination');
	$show_next_back = $this->getConfig('show_next_back');
	$show_navigation_control = $this->getConfig('show_navigation_control');
	$title = $this->getConfig('title');
	$rows = $block->getConfig('rows');
	$des = $block->getConfig('des');
	if($show_next_back)
		$show_next_back = 'true';
	else
		$show_next_back = 'false';
	$show_navigation_control = $this->getConfig('show_navigation_control');
	if($show_navigation_control)
		$show_navigation_control = 'true';
	else
		$show_navigation_control = 'false';
	$_postCollection = $block->getPostCollection();
?>
<?php if ($_postCollection->count() && $enable) { ?>
<div class="widget box-section block-recent-posts " data-bind="scope: 'recemt-posts'">
	<div class="container">
	<div class="container-inner">
		<?php if($title) { ?>
		<div class='group-title1'><?php 	echo '<h2>'.$title.'</h2>'; ?></div>
		<?php } ?>
		
		<div class="owl-container">
			<div class="block-content">
				<div class="ptowl">
					<?php 
					$i=0;
					foreach ($_postCollection as $_post) { ?>
						<?php if($i++%$rows==0) { ?> 
						<div class="item">
						<?php } ?>
							<div class="item-inner">
								<div class="blog-image">
									<a class="image" href="<?php echo $_post->getPostUrl() ?>">
										<img src="<?php echo $this->getMediaFolder().$_post->getThumbnailimage() ?>" alt="blog-image"/>
									</a>
									<div class="time">
										<?php 
											$date = $_post->getPublishTime();
										?>
										<span class="date-time">
											<span class="date"><?php echo __(date("d", strtotime($date))) ?></span>
											
											<span class="month"><?php echo __(date("M", strtotime($date))) ?></span>
										</span>
									</div>
								</div>
								<div class="blog-content">
									<h3 class="blog-title"><a href="<?php echo $_post->getPostUrl() ?>"><?php echo $block->escapeHtml($_post->getTitle()) ?></a></h3> 	
									
									<p class="short-des"><?php echo $_post->getShortContent() ?></p>
									
								</div>
							</div>
							<?php if($i%$rows==0 || $i == count($_postCollection)) { ?>
						</div>
						<?php } ?>
					<?php } ?>
				</div>
				
			</div>
		</div>
		</div>
    </div>
</div>
<script type="text/javascript">
	require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
		$(document).ready(function(){
			$(".block-recent-posts .ptowl").owlCarousel({
				<?php
					if(($auto== 'true') && $speed):
				?>
				autoPlay : <?php echo $speed; ?>,
				<?php
					endif;
				?>
				items : <?php echo $default; ?>,
				itemsDesktop : [1199,<?php echo $desktop; ?>],
				itemsDesktopSmall : [991,<?php echo $desktop_small; ?>],
				itemsTablet: [768,<?php echo $tablet; ?>],
				itemsMobile : [479,<?php echo $mobile; ?>],
				slideSpeed : <?php echo $pagination; ?>,
				paginationSpeed : <?php echo $pagination; ?>,
				rewindSpeed : <?php echo $pagination; ?>,
				addClassActive: true,
				navigation :<?php echo $show_next_back ?>,
				stopOnHover : true,
				pagination :<?php echo $show_navigation_control ?>,
				scrollPerPage:false,
			});
			$(".block-recent-posts .owl-item:odd").addClass('odd');
		});
	});
</script>
<?php } ?>