<div class="slider-group">
	<div class="container">
		<div class="container-inner">
			<div class="row">
				<div class="col-slider col-lg-9 col-md-12 col-sm-12 col-xs-12">
					<?php echo $this->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('bannerslider.phtml')->toHtml();?>
				</div>
				<div class="col-static col-lg-3 col-md-12 col-sm-12 col-xs-12">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_slider_group_skybook4')->toHtml();?>
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('corporate_skybook4')->toHtml();?>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
require(["jquery"], function($){
	
   $("#corporate").owlCarousel({ 
		autoPlay : false,
		slideSpeed : 1000,
		navigation : false,
		stopOnHover : true,
		pagination : false,
		items : 3,
		itemsDesktop : [1199,3],
		itemsDesktopSmall : [992,3],
		itemsTablet: [767,2],
		itemsMobile : [479,1],
		addClassActive : true,
		scrollPerPage:false
   });
   
});
</script>  