<?php
/**
 * Copyright © 2015 CommerceExtensions. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="import-export-searchterms">
    <?php if (!$block->getIsReadonly()): ?>
    <div class="import-searchtermsr">
        <?php if ($block->getUseContainer()): ?>
        <form id="import-form" action="<?php echo $block->getUrl('searchterms/data/importPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Import Search Terms') ?></span></legend>
				<label class="label admin__field-label" for="import_delimiter"><span>Import CSV Delimiter Value</span></label>
				<div class="control">
					<input id="basic_behavior_import_delimiter" name="import_delimiter" value="," title="Import Delimiter" class="basic_behavior input-text admin__control-text" type="text" size="1">
				</div>
				<label class="label admin__field-label" for="import_enclose"><span>Import CSV Enclose Value</span></label>
				<div class="control">
					<input id="basic_behavior_import_enclose" name="import_enclose" value='"' title="Import Enclose" class="basic_behavior input-text admin__control-text" type="text" size="1">
				</div>
				<label class="label admin__field-label" for="delete_searchterms_on_match"><span>Delete Search Term On Match</span></label>
				<div class="admin__field-control control">
					<select id="delete_searchterms_on_match" name="delete_searchterms_on_match" title="Delete Search Term On Match" class="select admin__control-select">
						<option value="false">No</option>
						<option value="true">Yes</option>
					</select>
				</div>
            	<div class="admin__field-control control">
                	<input type="file" name="import_rates_file" class="input-file required-entry"/>
				</div>
            	<div class="admin__field-control control">
                <?php echo $block->getButtonHtml('Import Search Terms', '', 'import-submit') ?>
				</div>
            </fieldset>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
        <script>
require(['jquery', "mage/mage", "loadingPopup"], function(jQuery){

    jQuery('#import-form').mage('form').mage('validation');
    (function ($) {
        $('.import-submit').click(function(){
            if($(':input[name="import_rates_file"]').val()) {
                $('body').loadingPopup({
                    timeout: false
                });

                $(this.form).submit();
            }
        });
    })(jQuery);

});
</script>
    </div>
    <?php endif; ?>
    <div class="export-searchterms <?php if ($block->getIsReadonly()): ?>box-left<?php else: ?>box-right<?php endif; ?>">
        <?php if ($block->getUseContainer()): ?>
        <form id="export_form" action="<?php echo $block->getUrl('searchterms/data/exportPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Export Search Terms') ?></span></legend>
				<div class="admin__field field field-searchterms">
                    <label class="label admin__field-label" for="recordlimitstart"><span>Record Limit Start</span></label>
					<div class="control">
						<input id="basic_behavior_recordlimitstart" name="recordlimitstart" value="" title="Record Limit Start" class="basic_behavior input-text admin__control-text" type="text" size="10">
					</div>
                    <label class="label admin__field-label" for="recordlimitend"><span>Record Limit End</span></label>
					<div class="control">
						<input id="basic_behavior_recordlimitend" name="recordlimitend" value="" title="Record Limit End" class="basic_behavior input-text admin__control-text" type="text" size="10">
					</div>
                    <label class="label admin__field-label" for="export_delimiter"><span>Export CSV Delimiter Value</span></label>
					<div class="control">
						<input id="basic_behavior_export_delimiter" name="export_delimiter" value="," title="Export Delimiter" class="basic_behavior input-text admin__control-text" type="text" size="1">
					</div>
                    <label class="label admin__field-label" for="export_delimiter"><span>Export CSV Enclose Value</span></label>
					<div class="control">
						<input id="basic_behavior_export_enclose" name="export_enclose" value='"' title="Export Enaclose" class="basic_behavior input-text admin__control-text" type="text" size="1">
					</div>
                </div>
				<br/>
				<div class="admin__field-control control">
					<?php echo $block->getButtonHtml('Export Search Terms', "this.form.submit()") ?>
				</div>
            </fieldset>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
    </div>
</div>
