<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_product = $block->getProduct() ?>
<?php if ($block->canEmailToFriend()): ?>
    <a href="<?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>"
       class="action mailto friend" title="<?php echo __('Email to Friend') ?>"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></a>
<?php endif; ?>

<div class="product-social">
<!-- AddThis Button BEGIN -->
<!--<div class="addthis_toolbox addthis_default_style ">-->
<div class="addthis_inline_share_toolbox" style="clear:none !important;"><!--
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>--><!--
<a class="addthis_counter addthis_pill_style"></a>-->
</div><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a44bd797021765b" async="async"></script><!--
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fce36935105cb6e"></script>-->
<!-- AddThis Button END -->
</div>

<?php
$id = $_product->getId();
$children = array();
$children_array = array();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$parentId = $objectManager->create('Magento\GroupedProduct\Model\Product\Type\Grouped')->getParentIdsByChild($id);

      if(isset($parentId[0])){
			  $children = $objectManager->create('Magento\GroupedProduct\Model\Product\Type\Grouped')->getChildrenIds($parentId[0]);
		
		    if (count ($children > 0)): ?>
			<?php foreach ($children as $child ){ $children_array = (array_values($child)); continue; }?>
				<select id="grouped_product">
				<option name="default" value="">Click to view all editions</option>
                <?php foreach ($children_array as $child):
                    $_item = $objectManager->create('Magento\Catalog\Model\Product')->load($child);
                    $productName = $_item->getName(); ?>
                     <?php /* @escapeNotVerified */ $productPrice = $block->getProductPrice($_item); ?>
                    <?php if ($_item->getStatus() == 1) : ?>
                    <option name="super_group_option[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
                                value="<?php /* @escapeNotVerified */ echo $_item->getId() ?>"
                                data-selector="super_group_option[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
                                data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                data-errors-message-box="#validation-message-box"
                                title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                class="input-text qty"/>

                        <?php echo $productName. " Price: ".$productPrice?>
                    </option>
                    <?php endif; ?>

            <?php if ($block->getCanShowProductPrice($_product)
                && $block->getCanShowProductPrice($_item)
                && trim($block->getProductPriceHtml(
                    $_item,
                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                ))): ?>
                        <?php echo $block->getProductPriceHtml(
                            $_item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ) ?>
            <?php endif; ?>

        <?php endforeach; ?>
				</select>
				
				<?php foreach ($children_array as $child): 
															  $currentproduct = $objectManager->create('Magento\Catalog\Model\Product')->load($child);
															  $path=$objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);?>

                               <input type="hidden" id="super_group_<?php /* @escapeNotVerified */ echo $child ?>"
															 name="super_group[<?php /* @escapeNotVerified */ echo $child ?>]" 
															 value="0" title="Qty" data-validate="{'validate-grouped-qty':'#super-product-table'}" 
															 data-errors-message-box="#validation-message-box">

															 <input type="hidden" name="desc_<?php /* @escapeNotVerified */ echo $child ?>"
															 id="desc_<?php /* @escapeNotVerified */ echo $child?>" 
															 value='<? echo htmlentities($currentproduct->getDescription()); ?>'>
														
 															 <input type="hidden" name="imgsrc_<?php /* @escapeNotVerified */ echo $_item->getId() ?>"
															 id="imgsrc_<?php /* @escapeNotVerified */ echo $child ?>" 
															 value="<? echo $path.'/catalog/product'.$currentproduct->getData('image'); ?>">


				                       <input type="hidden" name="urlsrc_<?php /* @escapeNotVerified */ echo $child ?>"
															 id="urlsrc_<?php /* @escapeNotVerified */ echo $child ?>" 
															 value="<? echo $currentproduct->getUrlModel()->getUrl($currentproduct); ?>">
        <?php endforeach; ?>															 
		<?php endif; ?>
<?php  }?>	
