<?php
error_reporting(E_ALL); ini_set('display_errors', 1);

 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
 $connection = $resource->getConnection();
 $tableName = $resource->getTableName('mgsg_last_order_exported');

 
if(isset($_POST['action']) && $_POST['action']=='export')  //Form was submitted 
{
	$exportOrder = $_POST['exportOrder'];
	$lastOrder= $_POST['lastOrder'];
	$exportedOrder=$block->exportTheseOrders($exportOrder, $lastOrder);
	$connection->update($tableName, ['lastorder_id' => $exportedOrder], ['lastorder_id IN (?)' => $exportOrder]);
} 

 $sql = "SELECT * FROM " . $tableName;
 $result = $connection->fetchAll($sql);
 $lastOrderExported=$result[0]['lastorder_id']; 
 
 $sql ="SELECT MAX(sequence_value) as maxid from mgsg_sequence_order_1";
 $result = $connection->fetchAll($sql);
 $orderId= $result[0]['maxid']; 
 ?>

<form class="form" action="" method="post">
    <fieldset class="fieldset">
        <legend class="legend"><span><?php echo __('Export Orders to Feldheim') ?></span></legend><br>
        <div class="field required">
            <label for="number" class="label">
                <span><?php echo __('Last Order Exported') ?></span>
            </label>

            <div class="control">
               <input type="text" id="number"
                       name="exportOrder"
                       class="input-text" value="<?php echo $lastOrderExported?>">
            </div>
					
    Click here to export from last order exported on (next export will start with order #<?php echo $lastOrderExported+1 ?>) , to last order placed (currently #<?php echo $orderId; ?>)
	
        </div>
    </fieldset>
    <input name="form_key" type="hidden" value="<?php echo $block->updateCancelTime() ?>" />
    <input name="action" type="hidden" value="export" />
    <input name="lastOrder" type="hidden" value="<?php echo $orderId; ?>" />
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?php echo __('Submit') ?>">
                <span><?php echo __('Submit') ?></span>
            </button>
        </div>
    </div>

</form>

