<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>

<?php
switch ($type = $block->getType()) {
 
    case 'crosssell-rule':
        /** @var \Magento\Catalog\Block\Product\ProductList\Crosssell $block */
        if ($exist = $block->hasItems()) {
            $type = 'crosssell';
            $class = $type;

            $image = 'cart_cross_sell_products';
            $title = __('More Choices:');
            $items = $block->getItemCollection();

            $showWishlist = true;
            $showCompare = true;
            $showCart = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
            $description = false;
            $canItemsAddToCart = false;
        }
    break;

    case 'crosssell':
        /** @var \Magento\Catalog\Block\Product\ProductList\Crosssell $block */
        if ($exist = $block->getItemCount()) {
            $type = 'crosssell';
            $class = $type;

            $image = 'cart_cross_sell_products';
            $title = __('crosssell');
            $items = $block->getItems();

            $showWishlist = true;
            $showCompare = true;
            $showCart = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
            $description = false;
            $canItemsAddToCart = false;
        }
    break;
  
}
?>

<?php if ($exist):?>

    
<section class="block <?php /* @escapeNotVerified */ echo $class; ?> module-product "> 
    <div class="block-title group-title1">
        <h2 id="block-<?php echo $class?>-heading" role="heading" aria-level="2"><?php echo $title; ?></h2>
    </div>
    <div class="block-content content" aria-labelledby="block-<?php echo $class?>-heading"> 
	   <div class="owl-container">
			<div id="crosssell_product_slider" class="owl-carousel">
				<?php $iterator = 1; ?>
				<?php 
					$i = 0;
					$rows = 1;
					$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');
				?> 
				<?php foreach ($items as $_item): ?>
				<?php $available = ''; ?>  
				<?php
					$productImage = $block->getImage($_item, $image);
					if($_item->getRotaryImage())
						$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_item->getRotaryImage();
					else
						$imageRotary = '';
					
				?>
				
					<?php if ($i++%$rows==0) { ?>
					<div class="item">
					<?php } ?>
						<div class="item-inner">
							<?php
								$newFromDate = $_item->getNewsFromDate();
								$newToDate = $_item->getNewsToDate();                
								$now = date("Y-m-d H:m:s");
								// Get the Special Price
								$specialprice = $_item->getSpecialPrice(); 
								// Get the Special Price FROM date
								$specialPriceFromDate = $_item->getSpecialFromDate();
								// Get the Special Price TO date
								$specialPriceToDate = $_item->getSpecialToDate();
								// Get Current date
								if ($specialprice&&(($specialPriceFromDate <= $now && $specialPriceToDate >= $now) || (($specialPriceFromDate <= $now && $specialPriceFromDate != NULL) && $specialPriceToDate  == ''))){
								$_savePercent = 100 - round(($_item->getSpecialPrice() / $_item->getPrice())*100);
								echo "<span class='hot-sale'>sales off</span></span>";
								}else{
								if((($newFromDate <= $now && $newToDate >= $now) || (($newFromDate <= $now && $newFromDate != NULL) && $newToDate == NULL))) {
								?>
								<div class="label-pro-new"><span><?php echo __('new') ?></span></div>
								<?php
								}
								}
							?>
							<div class="image-container">
								<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
									<?php echo $productImage->toHtml() ?>
									<?php if($imageRotary): ?>
										<span class="image-rotate">
											<img src="<?php echo $imageRotary; ?>" alt="rotate image"/>
										</span>
									<?php else: ?>
										<span class="image-rotate">
											<?php echo $productImage->toHtml() ?>
										</span>
									<?php endif; ?>
								</a>
								
								<div class="quick-view"></div>
							</div>
							
							<div class="des">
								<?php if ($templateType): ?>
									<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>
								<?php endif; ?>
								<div class="product-name">
									<strong class="product name product-item-name"><a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php echo $block->getProductUrl($_item) ?>">
										<?php echo $block->escapeHtml($_item->getName()) ?></a>
									</strong>
								</div>	
								
								
								<?php echo $block->getProductPrice($_item); ?>
								<div class="actions">
									<?php if ($showCart): ?>
										<div class="actions-primary">
											<?php if ($_item->isSaleable()): ?>
											<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
											<button class="action tocart" data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php echo __('Add to Cart') ?>">
											<span><?php echo __('Add to Cart') ?></span>
											</button>
											<?php else: ?>
											<?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
										   $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
										   ?>
											<button class="action tocart"
											   data-post='<?php echo $postData; ?>'
											   type="button" title="<?php echo __('Add to Cart') ?>">
											<span><?php echo __('Add to Cart') ?></span>
											</button>
											<?php endif; ?>
											<?php else: ?>
											<?php if ($_item->getIsSalable()): ?>
											<div class="stock available"><span><?php echo __('In stock') ?></span></div>
											<?php else: ?>
											<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
											<?php endif; ?>
											<?php endif; ?>
										</div>
									<?php endif; ?> 
									<?php if ($showWishlist || $showCompare): ?>
										<div class="add-to-links" data-role="add-to-links">
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
											<a href="#" data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'  class="action towishlist" data-action="add-to-wishlist" title="<?php echo __('Add to WishList') ?>">
											<span><?php echo __('WishList') ?></span>
											</a>
											<?php endif; ?>
											<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
											<?php
											   $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
											   ?>
											<a href="#" class="action tocompare"
											   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
											   data-role="add-to-links"
											   title="<?php echo __('Add to Compare'); ?>">
											<span><?php echo __('Compare') ?></span>
											</a>
											<?php endif; ?>
										</div>
									<?php endif; ?>
								</div>
								  
								 
							</div>
						</div>
					<?php if($i%$rows==0 || $i == count($items)) { ?> 
					</div> 
					<?php } ?>
				<?php endforeach ?>
			</div>
		</div> 
    </div>  
</section>
<?php endif;?>

<script type="text/javascript">
   require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
   	
      $("#crosssell_product_slider").owlCarousel({
   		items : 4,
		itemsDesktop : [1199,3],
   		itemsDesktopSmall : [991,2],
   		itemsTablet: [767,2],
   		itemsMobile : [400,1],
   		autoPlay : false,
   		slideSpeed : 3000,
   		navigation : true,
   		stopOnHover : true,
   		pagination : true,
		addClassActive : true,
		scrollPerPage:false
      });
      
   });
</script>
