<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>
<div class="contactus">
By mail:
<Br/>Feldheim Publishers
<Br/>208 Airport Executive Park
<Br/>Nanuet, NY 10954
<Br/><a href="tel:845-356-2282" rel="nofollow">Phone: 845-356-2282</a>
<Br/>Out of NY State: 800-237-7149
<Br/>Fax: 845-425-1908
<Br/>email: <a href="mailto:sales@feldheim.com" rel="nofollow">sales@feldheim.com</a>
</div>

<form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
<!--		<legend class="legend"><span><?= $block->escapeHtml(__('Contact Us')) ?></span></legend><br />-->
        <div class="field note no-label"><?= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></div>
        <div class="field name required">
            <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field telephone">
            <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" />
            </div>
        </div>
        <div class="field comment required">
            <label class="label" for="comment"><span><?= $block->escapeHtml(__('What’s on your mind?')) ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
            </div>
        </div>
        <?= $block->getChildHtml('form.additional.info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>
<div id="cid_8" class="form-input-wide">
          <div id="text_8" class="form-html" data-component="text">
            <p>To subscribe to our email newsletter <a href="http://www.feldheim.com/newsletter" rel="nofollow">click here</a></p>
            <p>To request a copy of our catalog by mail, email <a href="mailto:catalog@feldheim.com" rel="nofollow">catalog@feldheim.com</a>, or <a href="http://www.feldheim.com/catalog-send" rel="nofollow">click here</a></p>
            <p>To request permission to copy pages of a book, email <a href="mailto:permissions@feldheim.com" rel="nofollow">permissions@feldheim.com</a></p>
            <p><span style="text-decoration: underline;"><strong>Manuscript Submissions:</strong></span></p>
            <p>If you wish to contact us regarding publishing, <a href="http://www.feldheim.com/submissions" rel="nofollow">click here</a> for our Submissions Guidelines.</p>
          </div>
        </div>