<div class="slider-group">
	<div class="container">
		<div class="container-inner">
			
			<div class="col-slider">
				<?php echo $this->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('bannerslider.phtml')->toHtml();?>
			</div>
			<div class="col-static">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_slider_group')->toHtml();?>
			</div>
		</div>
	</div>
</div>