<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Grouped product data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\BaseImage
 * @var $block \Magento\GroupedProduct\Block\Product\View\Type\Grouped
 */
?>
<?php $block->setPreconfiguredValue(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php $objectManagerProd = \Magento\Framework \App\ObjectManager::getInstance(); ?>


<div class="table-wrapper grouped" >
         <?php if ($_hasAssociatedProducts): ?>
				<select id="grouped_product">
				<option name="default" value="">Click to view all editions</option>
        <?php foreach ($_associatedProducts as $_item): ?>
                    <?php $productName=$block->escapeHtml($_item->getName()) ?>
                    <?php if ($block->getCanShowProductPrice($_product)): ?>
                        <?php if ($block->getCanShowProductPrice($_item)): ?>
                            <?php /* @escapeNotVerified */ $productPrice= $block->getProductPrice($_item) ?>
                        <?php endif; ?>
                     <?php endif; ?>
                    <?php if ($_item->getStatus() == 1) : ?>
                        <option name="super_group_option[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
												       value="<?php /* @escapeNotVerified */ echo $_item->getId() ?>"
                               data-selector="super_group_option[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]"
                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                               data-errors-message-box="#validation-message-box"
															 title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
															 class="input-text qty"/>
 															 <?php echo $productName .' Price: '.$productPrice;?></option>
                    <?php endif; ?>
            <?php if ($block->getCanShowProductPrice($_product)
                && $block->getCanShowProductPrice($_item)
                && trim($block->getProductPriceHtml(
                    $_item,
                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                ))): ?>
                        <?php echo $block->getProductPriceHtml(
                            $_item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ) ?>
            <?php endif; ?>

        <?php endforeach; ?>
				</select>
        <?php 
				    foreach ($_associatedProducts as $_item): ?>
            
                    <?php $productName=$block->escapeHtml($_item->getName()) ?>
                    <?php if ($block->getCanShowProductPrice($_product)): ?>
                        <?php if ($block->getCanShowProductPrice($_item)): ?>
                            <?php /* @escapeNotVerified */ $productPrice= $block->getProductPrice($_item) ?>
                        <?php endif; ?>
                     <?php endif; ?>

									            <? $currentproduct = $objectManagerProd->create('Magento\Catalog\Model\Product')->load($_item->getId());
															$path=$objectManagerProd->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);?>				
				                      <input type="hidden" id="super_group_<?php /* @escapeNotVerified */ echo $_item->getId() ?>"
															 name="super_group[<?php /* @escapeNotVerified */ echo $_item->getId() ?>]" 
															 value="0" title="Qty" data-validate="{'validate-grouped-qty':'#super-product-table'}" 
															 data-errors-message-box="#validation-message-box">

															 <input type="hidden" name="desc_<?php /* @escapeNotVerified */ echo $_item->getId() ?>"
															 id="desc_<?php /* @escapeNotVerified */ echo $_item->getId() ?>" 
															 value='<? echo htmlentities($currentproduct->getDescription()); ?>'>
														
 															 <input type="hidden" name="imgsrc_<?php /* @escapeNotVerified */ echo $_item->getId() ?>"
															 id="imgsrc_<?php /* @escapeNotVerified */ echo $_item->getId() ?>" 
															 value="<? echo $path.'/catalog/product'.$currentproduct->getData('image'); ?>">
															 
															 
 															 <input type="hidden" name="urlsrc_<?php /* @escapeNotVerified */ echo $_item->getId() ?>"
															 id="urlsrc_<?php /* @escapeNotVerified */ echo $_item->getId() ?>" 
															 value="<? echo $currentproduct->getUrlModel()->getUrl($currentproduct); ?>">
															  

															 
        <?php endforeach; ?>															 
        <?php else: ?>
				<table>
         <tbody>
            <tr>
                <td class="unavailable"
                    colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>">
                    <?php /* @escapeNotVerified */ echo __('No options of this product are available.') ?>
                </td>
            </tr>
        </tbody>
	    </table>
        <?php endif; ?>
</div>

<div id="validation-message-box"></div>






