<?php 
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ;
	$items = $block->getConfig('items');
	$speed = $block->getConfig('speed');
	$qty = $block->getConfig('qty');
	$des_title = $block->getDesTitle();
	$showCart = $block->getShowAddtocart(); 
	$showWishlist = $block->getShowWishlist();
	$showCompare = $block->getShowCompare();
	$show_short_des = $block->getShowShortDes(); 
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$rows = $block->getProductsOnRow();
	$itemsDefault = $block->getItemsDefault();
	$itemsDesktop = $block->getItemsDesktop();
	$itemsDesktopSmall = $block->getItemsDesktopSmall();
	$itemsTablet = $block->getItemsTablet();
	$itemsMobile = $block->getItemsMobile();
	$title = $block->getTitle(); 
	$identify = trim($block->getIdentify()); 
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);

	$productsOnRow = 2 ;
	if(!$productsOnRow) $productsOnRow = 3;

?>

<div class="categorytab-container ">
<div class="container">
	<div class="container-inner">
	<div class='group-title1'>
		<?php 	echo '<h2>'.$title.'</h2>'; ?>
		<?php if($des_title) { ?>
			<div class="des-title"><?php echo '<p>'.$des_title.'</p>'; ?></div>
		<?php } ?>
	</div>
	<ul class="tabs tabs<?php echo '-'.$identify;?> "> 
	   <?php 
		$k = 0;
		foreach($categoryIds as $cate_id) {
			$cate_model =  $block->getCategory($cate_id);
			$category = $cate_model->load($cate_id);
			$cateName = $category->getName();
			if($category->getThumbNail()!= '' && $category->getThumbNail() != '1')
				$thumb_nail = $this->getThumbUrl($category->getThumbNail());
			else
				$thumb_nail = '';
			if($category->getThumbNailHover()!= '' && $category->getThumbNailHover() != '1')
				$thumb_nail_hover = $this->getThumbUrl($category->getThumbNailHover());
			else
				$thumb_nail_hover = '';
			if($cateName) {
	   ?>
				<li class="<?php if($k==0){ echo "first"; }?>" rel="tab<?php echo $cate_id.'-'.$identify;?>"  onclick="window.open('<?php echo $category->getUrl(); ?>','_self')">
					<span class="thumbnail-image">
						<?php if($thumb_nail): ?>
							<img src="<?php echo $thumb_nail; ?>" alt='Thumb Nail' />
						<?php endif; ?>
					</span>
					<span class="thumbnail-image thumbnail-image-hover">
						<?php if($thumb_nail_hover): ?>
							<img src="<?php echo $thumb_nail_hover; ?>" alt='Thumb Nail Hover' />
						<?php endif; ?>
					</span>
						<?php  echo $cateName; ?>
				</li>
		<?php }  $k++; } ?>
	</ul>
		
	
     <?php 
		
		$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
		$image = 'new_products_content_widget_grid';
		$type = 'widget-new-grid';
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		
	?>
	<div class="tab_container"> 
		<?php //foreach($categoryIds as $cate_id) { 
			$cate_id = $categoryIds[0];
		?>
		<div id="tab<?php echo $cate_id.'-'.$identify;?>" class="tab_content_<?php echo $identify; ?>"> 
		<div class="owl-container">		
			<div class="category_tab_slider category-tab<?php echo '-'.$identify;?> owl-carousel">
				<?php 
				$newItems =  $block -> getProductCate($cate_id)->getItems(); 
				$i=0;
				$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');
				foreach($newItems as $_item) { 
					$productImage = $block->getImage($_item, $image);
					if($_item->getRotaryImage())
						$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_item->getRotaryImage();
					else
						$imageRotary = '';
				?>
				<?php if($i++%$rows==0) { ?> 
					<div class="item product">
					<?php } ?>
						<div class="item-inner">
							<?php
								$newFromDate = $_item->getNewsFromDate();
								$newToDate = $_item->getNewsToDate();                
								$now = date("Y-m-d H:m:s");
								// Get the Special Price
								$specialprice = $_item->getSpecialPrice(); 
								// Get the Special Price FROM date
								$specialPriceFromDate = $_item->getSpecialFromDate();
								// Get the Special Price TO date
								$specialPriceToDate = $_item->getSpecialToDate();
								// Get Current date
								if ($specialprice&&(($specialPriceFromDate <= $now && $specialPriceToDate >= $now) || (($specialPriceFromDate <= $now && $specialPriceFromDate != NULL) && $specialPriceToDate  == ''))){
								$_savePercent = 100 - round(($_item->getSpecialPrice() / $_item->getPrice())*100);
								echo "<div class='hot-sale'><span>sales off</span></div>";
								}
								if((($newFromDate <= $now && $newToDate >= $now) || (($newFromDate <= $now && $newFromDate != NULL) && $newToDate == NULL))) {
								?>
								<div class="label-pro-new"><span><?php echo __('new') ?></span></div>
								<?php
								}
								
							?>
							<div class="image-container">
								<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
									<?php echo $productImage->toHtml() ?>
									<?php if($imageRotary): ?>
										<span class="image-rotate">
											<img src="<?php echo $imageRotary; ?>" alt="rotate image"/>
										</span>
									<?php else: ?>
										<span class="image-rotate">
											<?php echo $productImage->toHtml() ?>
										</span>
									<?php endif; ?>
								</a>
								
								<div class="quick-view"></div>
							</div>
							<div class="des">
								<?php if ($templateType): ?>
									<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
								<?php endif; ?>
								<div class="product-name">
									<strong class="product-item-name">
										<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
										   href="<?php echo $block->getProductUrl($_item) ?>"
										   class="product-item-link">
											<?php echo $block->escapeHtml($_item->getName()) ?>
										</a>
									</strong>
								</div>
								 
								<?php
									echo $block->getProductPrice($_item);
								 ?>
								<div class="actions">
									<?php if ($showCart): ?>
										<div class="actions-primary">
											<?php if ($_item->isSaleable()): ?>
												<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
													<button class="action tocart primary"
															data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_item) ?>"}}'
															type="button" title="<?php echo __('Add to Cart') ?>">
														<span><?php echo __('Add to Cart') ?></span>
													</button>
												<?php else: ?>
													<?php
														$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
														$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
													?>
													<button class="action tocart"
															data-post='<?php echo $postData; ?>'
															type="button" title="<?php echo __('Add to Cart') ?>">
														<span><?php echo __('Add to Cart') ?></span>
													</button>
												<?php endif; ?>
											<?php else: ?>
												<?php if ($_item->getIsSalable()): ?>
													<div class="stock available"><span><?php echo __('In stock') ?></span></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
										</div>
									<?php endif; ?>
									<?php if ($showWishlist || $showCompare): ?>
										<div class="actions-secondary add-to-links" data-role="add-to-links">
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
												<a href="#"
												   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
												   class="action towishlist" data-action="add-to-wishlist"
												   title="<?php echo __('Add to Wishlist') ?>">
													<span><?php echo __('Add to Wishlist') ?></span>
												</a>
											<?php endif; ?>
											<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
												<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
												<a href="#" class="action tocompare"
												   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
												   title="<?php echo __('Add to Compare') ?>">
													<span><?php echo __('Add to Compare') ?></span>
												</a>
											<?php endif; ?>
										</div>
									<?php endif; ?>
								</div> 
								<?php if($show_short_des): ?>
									<div class="short-description">
										<?php echo $block->getShortString($_item->getDescription()); ?>
									</div>
								<?php endif; ?>
							</div>
						</div>
					<?php if($i%$rows==0 || $i == count($newItems)) { ?>
					</div>
					<?php }?>
				<?php 
				}
				?>
			</div>
		</div>	
			
		 </div><!-- #tab1 -->
		 <?php //}?>

		 
	 </div> <!-- .tab_container --> 
	 </div>
</div>
</div>
<script type="text/javascript">
require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){

	// $(".tab_content_<?php echo $identify; ?>").hide();
	// $(".tab_content_<?php echo $identify; ?>:first").show(); 
	// $("ul.tabs<?php echo '-'.$identify;?> li").removeClass("active");
	$("ul.tabs<?php echo '-'.$identify;?> li.first").addClass("active");
	// $("ul.tabs<?php echo '-'.$identify;?> li").click(function() {
		// $("ul.tabs<?php echo '-'.$identify;?> li").removeClass("active");
		// $(this).addClass("active");
		// $(".tab_content_<?php echo $identify; ?>").hide();
		// var activeTab = $(this).attr("rel"); 
		// $("#"+activeTab).show(); 
	// });
	
	$(".category-tab<?php echo '-'.$identify;?>").owlCarousel({
	    items : <?php if($itemsDefault) echo $itemsDefault; else echo '6'; ?>,
		autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
		slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
		navigation : <?php if($show_navigation) echo 'true'; else echo 'false'; ?>,
		stopOnHover : true,
		pagination : <?php if($show_pagination) echo 'true'; else echo 'false'; ?>,
		itemsDesktop : [1199,<?php if($itemsDesktop) echo $itemsDesktop; else echo '5'; ?>],
		itemsDesktopSmall : [991,<?php if($itemsDesktopSmall) echo $itemsDesktopSmall; else echo '3'; ?>],
		itemsTablet: [767,<?php if($itemsTablet) echo $itemsTablet; else echo '2'; ?>],
		itemsMobile : [479,<?php if($itemsMobile) echo $itemsMobile; else echo '1'; ?>],
		addClassActive : true,
		scrollPerPage:false
		
	});
	
});
 

</script> 
