<?php
/**
 * Copyright © 2015 PlazaThemes.com. All rights reserved.

 * @author PlazaThemes Team <contact@plazathemes.com>
 */
 
if($this->getEnable()):
$banners = $block->getBannerSlider();
?>

<div class="pt-banner-container">
   <ul class="ptowl"> 
    <?php $i = 1; ?>
	<?php foreach ($banners as $banner): ?>
	<?php
		$store_ids = explode(",",$banner['store_id']);
		if(in_array($this->getIdStore(),$store_ids)): ?>
		<?php $url_image = $this->getMediaFolder().$banner['image']; ?>
            <li>
				<?php if($banner['click_url']): ?>
					<a href="<?php echo $banner['click_url'] ?>" class="pt-url">
				<?php endif; ?>
					<img alt="<?php echo $banner['image_alt'] ?>" src="<?php echo $url_image; ?>"/>
				<?php if($banner['click_url']): ?>
					</a>
				<?php endif; ?>
				
				<div id="pt-banner-caption<?php echo $i; ?>" class="pt-caption pt-banner-caption">
					<div class="container">
						<div class="pt-caption-inner">
							<div class="pt-banner-content ptslider-<?php echo $i?>">
								<?php if($banner['name']): ?><p class="pt-name"><?php echo __($banner['name']) ?></p><?php endif; ?>
								<?php if($banner['title1']): ?><p class="pt-title1" ><?php echo __($banner['title1']) ?></p><?php endif; ?>
								
								<?php if($banner['title2']): ?><p class="pt-title2"><?php echo __($banner['title2']) ?></p><?php endif; ?>
								<?php if($banner['description']): ?><div class="pt-banner-des">
									<p><?php echo __($banner['description']) ?></p>
								</div><?php endif; ?>
								<div>
									<a href="<?php echo $banner['click_url'] ?>" class="pt-url"><?php echo __('Shop now!') ?></a>
								</div>
							</div>
						</div>
					</div>
				</div>				
            </li>
		<?php $i++; ?>            
    <?php endif; ?>            
    <?php endforeach; ?>            
    </ul>
</div>
<script type="text/javascript">
require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
		$(document).ready(function(){
			$(".pt-banner-container .ptowl").owlCarousel({
				singleItem: true,
				autoPlay : 5000,
				items : 1,
				itemsDesktop : [1199,1],
				itemsDesktopSmall : [980,1],
				itemsTablet: [768,1],
				itemsMobile : [479,1],
				slideSpeed : 500,
				paginationSpeed : 500,
				rewindSpeed : 500,
				addClassActive: true,
				navigation : true,
				stopOnHover : true,
				pagination : true,
				scrollPerPage:true,
				afterMove: nextslide,
				afterInit: nextslide,
			});
			function nextslide() {
				$(".pt-banner-container .owl-item .pt-banner-caption").css('display','none');
				$(".pt-banner-container .owl-item .pt-banner-caption").removeClass('pt-caption')
				$(".pt-banner-container .owl-item.active .pt-banner-caption").css('display','block');
				
				var heading = $('.pt-banner-container .owl-item.active .pt-banner-caption').clone().removeClass();
				$('.pt-banner-container .owl-item.active .pt-banner-caption').remove();
				$('.pt-banner-container .owl-item.active>li').append(heading);
				$('.pt-banner-container .owl-item.active>li>div').addClass('pt-banner-caption pt-caption');
			}
		});
	});
</script>
<script type="text/javascript">
/*global jQuery */
/*!	
* Lettering.JS 0.6.1
*
* Copyright 2010, Dave Rupert http://daverupert.com
* Released under the WTFPL license 
* http://sam.zoy.org/wtfpl/
*
* Thanks to Paul Irish - http://paulirish.com - for the feedback.
*
* Date: Mon Sep 20 17:14:00 2010 -0600
*/
require([
  "jquery",
 ],function($jq){
	function injector(t, splitter, klass, after) {
		var a = t.text().split(splitter), inject = '';
		if (a.length) {
			$jq(a).each(function(i, item) {
				inject += '<span class="'+klass+(i+1)+'">'+item+'</span>'+after;
			});	
			t.empty().append(inject);
		}
	}
	
	var methods = {
		init : function() {

			return this.each(function() {
				injector($jq(this), '', 'char', '');
			});

		},

		words : function() {

			return this.each(function() {
				injector($jq(this), ' ', 'word', ' ');
			});

		},
		
		lines : function() {

			return this.each(function() {
				var r = "eefec303079ad17405c889e092e105b0";
				// Because it's hard to split a <br/> tag consistently across browsers,
				// (*ahem* IE *ahem*), we replaces all <br/> instances with an md5 hash 
				// (of the word "split").  If you're trying to use this plugin on that 
				// md5 hash string, it will fail because you're being ridiculous.
				injector($jq(this).children("br").replaceWith(r).end(), r, 'line', '');
			});

		}
	};

	$jq.fn.lettering = function( method ) {
		// Method calling logic
		if ( method && methods[method] ) {
			return methods[ method ].apply( this, [].slice.call( arguments, 1 ));
		} else if ( method === 'letters' || ! method ) {
			return methods.init.apply( this, [].slice.call( arguments, 0 ) ); // always pass an array
		}
		$jq.error( 'Method ' +  method + ' does not exist on jQuery.lettering' );
		return this;
	};
	$jq(document).ready(function() {
		$jq(".pt-banner-content .pt-title2").lettering('words');
	});
});


</script>
<?php endif; ?>