<?php
/**
 * Copyright © 2016 PlazaThemes.com. All rights reserved.
 *
 * @author PlazaThemes Team <contact@plazathemes.com>
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productModel = $objectManager->get('Magento\Catalog\Model\Product');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
		/*Grid*/
	if($viewMode == "grid"):
		/**
		 * Position for actions regarding image size changing in vde if needed
		 */
		$pos = $block->getPositioned(); 
		?>
		
		<div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
			<?php 
				$iterator = 1;   
			?>
			<ul class="products grid row">
				<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php 
				$i=0; 
				$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');
				foreach ($_productCollection as $_product): 
				if($_product->getRotaryImage() && ($_product->getRotaryImage() != 'no_selection'))
					$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_product->getRotaryImage();
				else
					$imageRotary = '';
				?> 
				 
					<li class="products list items product-items item product col-lg-3 col-md-4 col-sm-6 col-xs-6">
						<div class="item-inner product-item-info" data-container="product-grid">
							<?php
								$newFromDate = $_product->getNewsFromDate();
								$newToDate = $_product->getNewsToDate();                
								$now = date("Y-m-d H:m:s");
								// Get the Special Price
								$specialprice = $_product->getSpecialPrice(); 
								// Get the Special Price FROM date
								$specialPriceFromDate = $_product->getSpecialFromDate();
								// Get the Special Price TO date
								$specialPriceToDate = $_product->getSpecialToDate();
								// Get Current date
								if ($specialprice&&(($specialPriceFromDate <= $now && $specialPriceToDate >= $now) || (($specialPriceFromDate <= $now && $specialPriceFromDate != NULL) && $specialPriceToDate  == ''))){
								$_savePercent = 100 - round(($_product->getSpecialPrice() / $_product->getPrice())*100);
								echo "<span class='hot-sale'><span>on sale</span></span>";
								}
								if((($newFromDate <= $now && $newToDate >= $now) || (($newFromDate <= $now && $newFromDate != NULL) && $newToDate == NULL))) {
								?>
								<div class="label-pro-new"><span><?php echo __('new') ?></span></div>
								<?php
		            $class=preg_replace("/[^A-Za-z0-9]/", "", $_product->getResource()->getAttribute('misc_status')->getFrontend()->getValue($_product));
 		            echo "<div class='".$class."'>";
		            echo /* @escapeNotVerified */ $_product->getResource()->getAttribute('misc_status')->getFrontend()->getValue($_product);
		            echo "</div>";
								}
								
							?>
							<div class="image-container">
								<?php
								$productImage = $block->getImage($_product, $image);
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<?php // Product Image ?>
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
									<?php echo $productImage->toHtml(); ?>
									<?php if($imageRotary): ?>
										<span class="image-rotate">
											<img src="<?php echo $imageRotary; ?>" alt="rotato image"/>
										</span>
									<?php else: ?>
										<span class="image-rotate">
											<?php echo $productImage->toHtml() ?>
										</span>
									<?php endif; ?>
								</a>
								
								<div class="quick-view"></div>
							</div> 
							
							<div class="des product details product-item-details">
								<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
								<div class="product-name">
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<strong class="product-item-name">
										<a class="product-item-link"
										   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</strong>
									
								</div>
								
								<?php echo $block->getProductDetailsHtml($_product); ?>
								<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
								
								<div class="actions">
									<div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
										<?php if ($_product->isSaleable()  &&  $_product->getTypeID()!='grouped' ): ?>
											<?php $postParams = $block->getAddToCartPostParams($_product); ?>
											<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
												<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
												<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
												<?php echo $block->getBlockHtml('formkey')?>
												<button type="submit"
														title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
														class="action tocart">
													<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
												</button>
											</form>
										<?php else: ?>
											<?php if ($_product->getIsSalable()): ?>
												<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
											<?php else: ?>
												<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
											<?php endif; ?>
										<?php endif; ?>
									</div>
									<div data-role="add-to-links" class="add-to-links" <?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
											<a href="#"
											   class="action towishlist"
											   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
											   data-action="add-to-wishlist"
											   role="button">
												<span><?php /* @escapeNotVerified */ echo __('WishList') ?></span>
											</a>
										<?php endif; ?>
									</div>
								</div>
								<!-- Price Countdown Box -->
								<?php if($block->getEnabledCountdown()): ?>
									<?php if($block->setEnabledCountdownInList()): ?>
										<?php if($_product->getSpecialPrice() != null || $_product->getSpecialPrice() != 0 || $_product->getSpecialPrice() != ""): ?>
											<?php
												$product = $productModel->load($_product->getId());
											?>
											<?php if($product->getShowCountdown() == 1): ?>
												<div class="countbox-<?php echo $_product->getId(); ?> countdown-container">
													<div class='datetime'>
														<span class='day'><?php echo __('D') ?></span>
														<span class='hour'><?php echo __('H') ?></span>
														<span class='min'><?php echo __('M') ?></span>
														<span class='sec'><?php echo __('S') ?></span>
													</div>
												</div>

												<?php
													$toDate = $_product->getSpecialToDate();
													$fromDate = $_product->getSpecialFromDate();
													$_current_timer = time();
												?>

												<script type="text/javascript">
													var dthen<?php echo $_product->getId(); ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
													var start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
													var start_date = Date.parse(start);
													var dnow<?php echo $_product->getId(); ?> = new Date(start_date);

													var ddiff;
													if(CountStepper > 0) {
														ddiff= new Date((dnow<?php echo $_product->getId(); ?>)-(dthen<?php echo $_product->getId(); ?>));
													} else {
														ddiff = new Date((dthen<?php echo $_product->getId(); ?>)-(dnow<?php echo $_product->getId(); ?>));
													}

													<?php if(strtotime($fromDate) <= $_current_timer): ?>
														gsecs<?php echo $_product->getId(); ?> = Math.floor(ddiff.valueOf()/1000);
													<?php else: ?>
														gsecs<?php echo $_product->getId(); ?> = -1;
													<?php endif; ?>

													var iid<?php echo $_product->getId(); ?> = "countbox-<?php echo $_product->getId(); ?>";
													CountBack_slider(gsecs<?php echo $_product->getId(); ?>,"countbox-<?php echo $_product->getId(); ?>", <?php echo $_product->getId(); ?>);

													require(["jquery"], function($){
														$(document).ajaxComplete(function () {
															var dthen<?php echo $_product->getId(); ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
															var start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
															var start_date = Date.parse(start);
															var dnow<?php echo $_product->getId(); ?> = new Date(start_date);

															var ddiff;
															if(CountStepper > 0) {
																ddiff= new Date((dnow<?php echo $_product->getId(); ?>)-(dthen<?php echo $_product->getId(); ?>));
															} else {
																ddiff = new Date((dthen<?php echo $_product->getId(); ?>)-(dnow<?php echo $_product->getId(); ?>));
															}

															<?php if(strtotime($fromDate) <= $_current_timer): ?>
															gsecs<?php echo $_product->getId(); ?> = Math.floor(ddiff.valueOf()/1000);
															<?php else: ?>
															gsecs<?php echo $_product->getId(); ?> = -1;
															<?php endif; ?>

															var iid<?php echo $_product->getId(); ?> = "countbox-<?php echo $_product->getId(); ?>";
															CountBack_slider(gsecs<?php echo $_product->getId(); ?>,"countbox-<?php echo $_product->getId(); ?>", <?php echo $_product->getId(); ?>);
														});
													});
												</script>
											<?php endif; ?>
										<?php endif; ?>
									<?php endif; ?>
								<?php endif; ?>

								<?php if ($showDescription):?>
									<div class="product description product-item-description">
										<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
										<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
										   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
									</div>
								<?php endif; ?> 
							</div>
						</div>
					</li>  
				<?php endforeach; ?>
			</ul> 
		</div>
		<div class="toolbar-bottom">
			<?php echo $block->getToolbarHtml() ?>
		</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
    <?php
		/*List*/
	else:
		/**
		 * Position for actions regarding image size changing in vde if needed
		 */
		$pos = $block->getPositioned();
		?>
		<div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
			<?php 
				$iterator = 1; 
				
			?>
			<ol class="products list items product-items">
				<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php foreach ($_productCollection as $_product): 
					
				?>
					<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
					<div class="product-item-info" data-container="product-grid">
						<div class="row">
							<div class="col-sm-4 col-md-4 col-sms-4 col-smb-12">
								<?php
								$productImage = $block->getImage($_product, $image);
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<?php // Product Image ?>
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
									<?php echo $productImage->toHtml(); ?>
								</a>
							</div>
							<div class="col-sm-8 col-md-8 col-sms-8 col-smb-12">
								
								<div class="product details product-item-details">
									<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<strong class="product name product-item-name">
										<a class="product-item-link"
										   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</strong>

									<!-- Price Countdown Box -->
									<?php if($block->getEnabledCountdown()): ?>
										<?php if($block->setEnabledCountdownInList()): ?>
											<?php if($_product->getSpecialPrice() != null || $_product->getSpecialPrice() != 0 || $_product->getSpecialPrice() != ""): ?>
												<?php
													$product = $productModel->load($_product->getId());
												?>
												<?php if($product->getShowCountdown() == 1): ?>
													<div class="countbox-<?php echo $_product->getId(); ?> countdown-container">
														<div class='datetime'>
															<span class='day'><?php echo __('D') ?></span>
															<span class='hour'><?php echo __('H') ?></span>
															<span class='min'><?php echo __('M') ?></span>
															<span class='sec'><?php echo __('S') ?></span>
														</div>
													</div>

													<?php
														$toDate = $_product->getSpecialToDate();
														$fromDate = $_product->getSpecialFromDate();
														$_current_timer = time();
													?>

													<script type="text/javascript">
														var dthen<?php echo $_product->getId(); ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
														var start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
														var start_date = Date.parse(start);
														var dnow<?php echo $_product->getId(); ?> = new Date(start_date);

														var ddiff;
														if(CountStepper > 0) {
															ddiff= new Date((dnow<?php echo $_product->getId(); ?>)-(dthen<?php echo $_product->getId(); ?>));
														} else {
															ddiff = new Date((dthen<?php echo $_product->getId(); ?>)-(dnow<?php echo $_product->getId(); ?>));
														}

														<?php if(strtotime($fromDate) <= $_current_timer): ?>
															gsecs<?php echo $_product->getId(); ?> = Math.floor(ddiff.valueOf()/1000);
														<?php else: ?>
															gsecs<?php echo $_product->getId(); ?> = -1;
														<?php endif; ?>

														var iid<?php echo $_product->getId(); ?> = "countbox-<?php echo $_product->getId(); ?>";
														CountBack_slider(gsecs<?php echo $_product->getId(); ?>,"countbox-<?php echo $_product->getId(); ?>", <?php echo $_product->getId(); ?>);

														require(["jquery"], function($){
															$(document).ajaxComplete(function () {
																var dthen<?php echo $_product->getId(); ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
																var start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
																var start_date = Date.parse(start);
																var dnow<?php echo $_product->getId(); ?> = new Date(start_date);

																var ddiff;
																if(CountStepper > 0) {
																	ddiff= new Date((dnow<?php echo $_product->getId(); ?>)-(dthen<?php echo $_product->getId(); ?>));
																} else {
																	ddiff = new Date((dthen<?php echo $_product->getId(); ?>)-(dnow<?php echo $_product->getId(); ?>));
																}

																<?php if(strtotime($fromDate) <= $_current_timer): ?>
																gsecs<?php echo $_product->getId(); ?> = Math.floor(ddiff.valueOf()/1000);
																<?php else: ?>
																gsecs<?php echo $_product->getId(); ?> = -1;
																<?php endif; ?>

																var iid<?php echo $_product->getId(); ?> = "countbox-<?php echo $_product->getId(); ?>";
																CountBack_slider(gsecs<?php echo $_product->getId(); ?>,"countbox-<?php echo $_product->getId(); ?>", <?php echo $_product->getId(); ?>);
															});
														});
													</script>
												<?php endif; ?>
											<?php endif; ?>
										<?php endif; ?>
									<?php endif; ?>

									
									<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
									
									<div class="swatch-opt">
										<?php echo $block->getProductDetailsHtml($_product); ?>
									</div>
									<div class="product-item-inner">
										<?php if ($showDescription):?>
											<div class="product description product-item-description">
												<?php $_ShortDescription = $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
												<?php /* @escapeNotVerified */ echo substr($_ShortDescription,0,200)."..."; ?>
												<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
												   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
											</div>
										<?php endif; ?>
										<div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
											<div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
														<?php echo $block->getBlockHtml('formkey')?>
														<button type="submit"
																title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
																class="action tocart">
															<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
														</button>
													</form>
												<?php else: ?>
													<?php if ($_product->getIsSalable()): ?>
														<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
											</div>
											<div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
												<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
													<a href="#"
													   class="action towishlist"
													   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
													   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
													   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
													   data-action="add-to-wishlist"
													   role="button">
														<span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
													</a>
												<?php endif; ?>
												<?php
												$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
												?>
												<!--<a href="#"
												   class="action tocompare"
												   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
												   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
												   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
												   role="button">
													<span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
												</a>-->
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
				<?php endforeach; ?>
			</ol>
		</div>
		<div class="toolbar-bottom">
			<?php echo $block->getToolbarHtml() ?>
		</div> 
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
	<?php 
	endif;
	?>
<?php endif; ?>
